<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOXX</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/helpers/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body> 
    <div id="app">
        <div class="startScreen" v-if='startScreen'>
            <div class="button" @click='startGame'>START</div>
        </div>
        <!--  v-if='startScreen == false && gameScreen' -->
        
        <div class="gameScreen" v-if='startScreen == false && gameScreen'>
            <div class="top">
                <div class="scoreBar">
                    <div class="x"><i class='fas fa-times' style='color: white;margin: 0 auto'></i></div>
                    <div class="xScore">{{scoreBar.xScore}}</div>
                    <div class="vs">
                        <div class="" style="margin: 0 auto">VS</div>
                    </div>
                    <div class="oScore">{{scoreBar.oScore}}</div>
                    <div class="o"><i class='far fa-circle' style="color: white;margin: 0 auto"></i></div>
                </div>
                <div class="whosTurn">
                    <div class="xTurn" :style="{'opacity': [nowTurn =='o' ? '0' : '1']}">YOUR TURN!</div>
                    <div class="oTurn" :style="{'opacity': [nowTurn =='o' ? '1' : '0']}">YOUR TURN!</div>
                </div>
            </div>
            <!-- v-if="whoWin !='o' && whoWin !='x' && whoWin !='draw'" -->
            <div class="main" v-if="whoWin !='o' && whoWin !='x' && whoWin !='draw'">
                <div 
                class="block" 
                :id="['b_'+index]"
                v-for='(item,index) in mainBlock'
                :style="{
                    'border-right' : [ index == 0 || index == 1 || index == 3 || index == 4 || index == 6 || index == 7? 'solid 6px #ED494C' : 'none'] ,
                    'border-bottom' : [ index == 0 || index == 1 || index == 2 || index == 3 || index == 4 || index == 5? 'solid 6px #ED494C' : 'none']
                }"
                @click="blockClick(index)"
                >
                </div>
            </div>
            <!--  -->
            <div class="oWin" v-show="whoWin == 'o'">
                <i class='far fa-circle'></i>
                <div class="winTitle">WINNER!</div>
            </div>
             <!-- v-if="whoWin == 'x'" -->
            <div class="xWin" v-show="whoWin == 'x'">
                <i class='fas fa-times'></i>
                <div class="winTitle">WINNER!</div>
            </div>
            <!-- v-if="whoWin == 'draw'" -->
            <div class="draw" v-show="whoWin == 'draw'">
                
                <div class="xblock">
                    <div class=""> <i class='fas fa-times'></i> </div>
                </div>
                <div class="oblock">
                    <div class=""><i class='far fa-circle'></i></div>               
                </div> 
                <div class="drawBlock">
                    <div class="drawTitle">DRAW!</div>
                    <div class="drawTitle">DRAW!</div>
                    <div class="drawTitle">DRAW!</div>
                </div>
            </div>
            <div class="restart" @click='reStart'>
                <div class="">RESTART</div>
            </div>
        </div>

        
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>